.card{
    padding: 80px;
    background-color: var(--background-color-light);
    border: 2px solid var(--color-shift);
    border-radius: 12px;
    box-shadow: 6px 6px 0px 2px var(--color-shadow-secondary);
    text-align: center;
}
.card h2{
    font-family: "raleway7";
    font-size: 48px;
    color: var(--color-shift-secondary);
}
.card p{
    font-family: "outfit5";
    font-size: 20px;
    line-height: 1.5;
    color: var(--paragraph-color);
    margin: 50px 0 80px;
}
@media screen and (max-width:1440px) {
    .card{
        padding: 60px;
        box-shadow: 4px 4px 0px 2px var(--color-shadow-secondary);
    }
    .card h2{
        font-size: 34px;
    }
    .card p{
        font-size: 16px;
        margin: 40px 0 60px;
    }
}
@media screen and (max-width:992px) {
    .card{
        padding: 40px;
        box-shadow: 4px 4px 0px 1px var(--color-shadow-secondary);
    }
    .card h2{
        font-size: 28px;
    }
    .card p{
        margin: 30px 0 40px;
    }
}