.links_container {
    margin: 0 auto 300px;
    width: 100%;
    display: flex;
    gap: 16px;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    cursor: grab;
}

/* اخفاء شكل scrollbar */
.links_container::-webkit-scrollbar {
    display: none;
}

.links_container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* عند السحب */
.links_container:active {
    cursor: grabbing;
}

@media screen and (max-width:1440px) {
    .links_container{
        margin-bottom: 240px;
    }
}

@media screen and (max-width:992px) {
    .links_container{
        margin-bottom: 160px;
    }
}