.title{
    font-size: 28px;
    margin-bottom: 20px;
}
.description{
    max-width: 797.69px;
}
@media screen and (max-width:1440px) {
    .title{
        font-size: 24px;
        margin-bottom: 16px;
    }
}
@media screen and (max-width:992px) {
    .title{
        font-size: 22px;
        margin-bottom: 12px;
    }
}